<nav class="navbar">
    <div class="logo"><a href="https://node-cms.onrender.com/">Bishal Rijal</a></div>
    <ul class="nav-links">
        <li><a href="https://node-cms.onrender.com/">Home</a></li>
        <li><a href="https://node-cms.onrender.com/create">Create</a></li>
        <li><a href="https://node-cms.onrender.com/register">Register</a></li>
        <li><a href="https://node-cms.onrender.com/login">Login</a></li>
    </ul>
</nav>